* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: dimgray;
  background-color: whitesmoke;
}

.container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header 
{
  background-color: #333;
  color: skyblue;
  padding: 20px;
  text-align: center;
}

.main-content
{
  flex-basis: 70%;
  padding: 20px;
}

.sidebar 
{
  flex-basis: 30%;
  padding: 20px;
  background-color: antiquewhite;
}

/*Media Queries */

/* For screens smaller than 768px (tablets, mobile devices) */
@media (max-width: 768px) 
{
  .container
  {
    flex-direction: column;
  }
  .main-content, .sidebar 
  {
    flex-basis: 100%;
  }
  .header 
  {
    font-size: 18px;
  }
}

/* For screens smaller than 480px ( small mobile devices) */
@media (max-width: 480px) 
{
  .header 
  {
    font-size: 16px;
  }
  .main-content, .sidebar 
  {
    padding: 10px;
  }
}
